<div class="header-margin"></div>
<div class="action-banner home-banner">
  <div class="spacer-sm"></div>
  <div class="container">
    <div class="swiper-entry">
      <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-autoheight">
        <div class="swiper-wrapper" style="height: 306px; transform: translate3d(-1270px, 0px, 0px); transition-duration: 0ms;">
          <div class="swiper-slide" style="width: 605px; margin-right: 30px;">
            <a href="https://la.ua/novyny/action/dostavymo-vchasno-abo-pitstsa-bezkoshtovna/">
              <img src="assets/images/1-2.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide swiper-slide-prev" style="width: 605px; margin-right: 30px;">
            <a href="https://la.ua/novyny/action/nasha-firmova-aktsiya-2-1/">
              <img src="assets/images/4.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide swiper-slide-active" style="width: 605px; margin-right: 30px;">
            <a href="https://la.ua/novyny/action/den-narodzhennya-z-la-p-yets/">
              <img src="assets/images/5.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide swiper-slide-next" style="width: 605px; margin-right: 30px;">
            <a href="https://la.ua/novyny/action/pryvedy-druga/">
              <img src="assets/images/pryvedy-druga.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide" style="width: 605px; margin-right: 30px;">
            <a href="https://la.ua/novyny/action/samovyviz/">
              <img src="assets/images/7.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide" style="width: 605px; margin-right: 30px;">
            <a href="https://la.ua/novyny/action/otrymaj-100-grn-u-podarunok-na-pershe-zamovlennya-z-mobilnogo-dodatku/">
              <img src="assets/images/3.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide" style="width: 605px; margin-right: 30px;">
            <a href="https://la.ua/novyny/action/czilodobova-dostavka/">
              <img src="assets/images/6-1.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
          <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
          <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
          <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
          <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
          <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span>
          <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>
    </div>
  </div>
  <div class="spacer-xl"></div>
</div>
