.block-of-1 {
  width: 100%;
  .mat-form-field {
    width: 100%;
  }
}

.block-of-2{
  display: flex;
  justify-content: space-between;
  .mat-form-field {
    width: 100%;
    &:last-child{
      margin: 0 0 0 10px;
    }
  }
}

.uil-times-circle {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
